* {
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color:black;
    font-family: 'Press Start 2P', cursive;
}

#container{
    display: flex;
}

#world{
    background: url('imgs/bg-m.jpg');
    background-size: cover;
    overflow: hidden;
}
#hero{
    background: url('imgs/1942.gif');
    background-position: -85px -180px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy1, .enemy2, .explosion{
    background: url('imgs/1942.gif');
    width:28px;
    height:28px;
    position:absolute;
}

.enemy1{
    background-position: -30px -10px;
}

.enemy2{
    background-position: -360px -5px;
}

.missile{
    background: url('imgs/1942.gif');
    background-position: -185px -400px;
    width:18px;
    height:18px;
    position:absolute;
}

.explosion{
    background-position: -355px -35px;
}

.table{
    border:10px solid red;
    text-align: center;
    height: 15%;
    width: 20%;
    background-color:white;
    padding:10px;
    font-size:1.5em;
}

#score, #bestScore{
    margin:15px 0;
}

.title, #finalText{
    color: rgb(5, 5, 102);
}

#finalText {
    text-align: center;
    margin: 10% 0;
    font-size: 3em;
}